$Manrope: 'Manrope',
sans-serif;

$lightBlue:'rgba(164, 201, 255, 0.8)';
$darkBlue:'rgba(55, 98, 204, 0.8)';
$pink:'rgba(249, 167, 167, 0.8)';
$brown:'rgba(221, 118, 118, 0.8)';
$yellow: 'rgba(255, 234, 146, 0.8)';
$green: 'rgba(12, 218, 232, 0.8)';