.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    -webkit-transition: 1s all;
    transition: 1s all;
    padding: 5px 0;
}

.header--fixed {
    position: fixed;
    top: -100%;
    left: 0;

    width: 100%;
    background-color: #fff;
}

.header--is-show {
    top: 0;
}

.main-menu {
    &__item {}

    &__link {
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        color: #034257;
        display: flex;
        align-items: baseline;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            color: #2147A4;
        }
    }

    &__link-txt {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #034257;
        display: none;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            color: #2147A4;
        }

        @media (min-width: 992px) {
            display: block;
            padding-left: 10px;
        }
    }
}

.main-menu__link.active {
    color: #4671C6;
}

.main-menu__link.active .main-menu__link-txt {
    color: #4671C6;
    position: relative;
}